<%= render 'shared/page_title', title: 'all recipes' %>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center chef_info">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </section>
    </div>

  <div class="col-md-8">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p class="card-text"><%= truncate(recipe.description, length: 150) %></p>
        <p>
          <span class='quiet'>
            <small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>