<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffe0b5;">
  <div class="container-fluid">
    <%= link_to 'RecipeBox', root_path, class: 'navbar-brand', id: 'logo' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class='nav-item'>
            <%= link_to 'Chefs', chefs_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'All Recipes', recipes_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recipe Actions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to 'Create Recipe', new_recipe_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ingredients
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <%= link_to 'All Ingredients', ingredients_path, class: "dropdown-item" %>
          </li>
          <% Ingredient.all.each do |ingredient| %>
          <li>
            <%= link_to ingredient.name.capitalize, ingredient_path(ingredient), class: "dropdown-item ing-list" %>
          </li>
          <% end %>
          <% if logged_in? && current_chef.admin? %>
            <li>
              <%= link_to 'New Ingredient', new_ingredient_path, class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_chef.chefname %>'s Profile <%= "Admin" if current_chef.admin? %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to 'View Your Profile', chef_path(current_chef), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to 'Edit Your Profile', edit_chef_path(current_chef), class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
                <%= link_to 'Log Out', logout_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>